.sticky {
    background: transparent;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
}

.bg-light{
    background: transparent !important;
}

#app-header {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: transparent !important;;
    display: inline-block;
    align-items: center;
  }