<div class="row">
    <div class="column1" id="parallax1">
      <p>Some text..</p>>
      <!-- <img src="/assets/bg-detail.png"> -->
    </div>
    <div class="column2" id="parallax2">
      <p>Some text..</p>
      <!-- <img src="/assets/bg-detail.png"> -->
    </div>
    <div class="column3" id="parallax3">
      <p>Some text..</p>
      <!-- <img src="/assets/bg-detail.png"> -->
    </div>
    <div class="column4" id="parallax4">
      <p>Some text..</p>
      <!-- <img src="/assets/bg-detail.png"> -->
    </div>
  </div>