<!-- rest of the html code goes here -->
<!-- <div style="text-align:center">
    <img width="300" alt="Angular Logo" src="assets/bg-pic.png" height="900" width="1900" >
  </div> -->
<div id="parallax">
  <div id="content">
    <div class="fixed-app-header">
    <app-header></app-header>
    <!-- <h2>THE BEST FOODIE</h2>
    <h1>EXPERIENCE</h1>
    <h3>NOW IN LONDON</h3> -->
  </div>
    <!-- <div id="navbar">
      <ul style="text-align: left">
        <li><a href="#">ABOUT</a></li>
        <li><a href="#"> COMMUNITY</a></li>
        <li><a href="#"> LOCATION</a></li>
        <li><a href="#"> OUR MENU</a></li>
        <li><a href="#"> RECIPES</a></li>
      </ul>
      <ul style="text-align: right">
        <li><a href="#"> CONTACT</a></li>
        <li><a href="/login"> LOGIN</a></li>
      </ul>
    </div> -->
  </div>
</div>
<div>
  <app-community></app-community>
</div>
<div>
  <app-location></app-location>
</div>
<div>
  <h2>Div 4</h2>
</div>
<div>
  <h2>Div 5</h2>
</div>
<div>
  <app-login></app-login>
</div>